#team-section {
  margin-top: 4%;
  height: 30%;
  overflow-y: hidden;
  margin-bottom: 10vh;
}

#team-header-text {
  padding-bottom: 1%;
  font-family: "Roboto Mono";
  font-size: 38px;
}

#team-card-row {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  white-space: nowrap;
  cursor: grab;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#team-card-row::-webkit-scrollbar {
  display: none;
}

.fadeable {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  will-change: opacity, visibility;
}

.fadeable.visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}
