#signup-section {
  background: linear-gradient(105.06deg, #ffc071 4.03%, #f57d39 107.3%);
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.3);
  border-radius: 40px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20vh;
  display: flex;
  justify-content: center;
  flex-direction: column;

  width: 70%;
  overscroll-behavior: none;
}

#signup-section-header,
#signup-section-header-subheader {
  font-family: "Roboto Mono";
}

#signup-section-header-text {
  font-size: 55px;
  margin-top: 4%;
  margin-bottom: 0;
}

#signup-section-header-subheader {
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 6%;
}

.form-input-line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 3%;
}

.form-input {
  border-radius: 360px;
  background-color: white;
  border: none;
  text-align: center;
  font-family: "Roboto Mono";
  font-weight: 300;
  margin: 1%;
  width: 40%;
  height: 45px;
}

.form-input::placeholder {
  font-family: "Roboto Mono";
  color: grey;
  text-align: center;
}

.form-input:focus {
  outline: 0;
}

#parent-phone,
#parent-email {
  width: 45%;
  height: 50px;
}

#first-select-line {
  margin-top: 5%;
}

select {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

.option-line {
  margin-bottom: 2%;
}

.option-line > select {
  width: 65%;
  height: 50px;
  text-align-last: center;
}

.option-line:last-child > select {
  width: 40%;
  height: 45px;
}

#button-section {
  height: 1px;

  display: flex;
  flex-direction: row-reverse;
}

#submit-button {
  height: 200px;
  width: 18%;
  cursor: pointer;
  margin-right: -2%;
  margin-top: -7%;
  background: #ffffff;
  box-shadow: 6px 8px 10px rgba(0, 0, 0, 0.4);
  border-radius: 30px;
  color: #453f3f;
  display: flex;
  justify-content: center;
}

#arrow-icon {
  height: 100%;
  font-size: 150px;
}

.fadeable {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  will-change: opacity, visibility;
}

.fadeable.visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

@media only screen and (max-width: 40em),
  only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  #signup-section {
    width: 92vw;
    height: 85vh;
  }
  #signup-section-header-text {
    font-size: 40px;
  }

  #signup-section-header-subheader {
    font-size: 18px;
  }

  .form-input {
    height: 32px;
  }

  #parent-phone,
  #parent-email {
    height: 28px;
  }

  .option-line > select {
    width: 65%;
    height: 30px;
    text-align-last: center;
  }

  .form-input::placeholder {
    font-size: 8px;
    font-weight: normal;
    color: black;
  }

  .form-input {
    font-size: 10px;
  }

  .option-line:last-child > select {
    width: 45%;
    height: 28px;
  }

  #input-section {
    margin-top: 20px;
  }

  #submit-button {
    
    height: 15vh;
    width: 40%;
    margin-top: 5%;
  }
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  #signup-section {
    height: 50vh;
  }
  .form-input,
  .form-input::placeholder {
    font-size: 12px;
  }

  #submit-button {
    width: 12vh;
    height: 12vh;
    margin-top: -6%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  #submit-button {
    width: 14vh;
    height: 14vh;
  }
}
