#curriculum-section {
  width: 800px;
  height: 400px;
  background: linear-gradient(105.06deg, #ffc071 4.03%, #f57d39 107.3%);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15vh;
  border-radius: 28px;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.4);
  color: white;
}

.fadeable {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  will-change: opacity, visibility;
}

.fadeable.visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

#curriculum-section-header {
  text-align: center;

  font-size: 48px;
  font-family: "Roboto Mono";
  padding-top: 5%;
}

#description-section {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.curriculum-description {
  font-size: 24px;
  width: 100%;
  padding: 0;
  text-align: center;
}

/* .curriculum-list > li {
 
  padding-bottom: 4%;
} */


@media only screen and (max-width: 40em) {
  #description-section {
    width: 50vw;
    height: 45%;
  }

  #curriculum-section-header {
    font-size: 32px;
    margin-bottom: 3%;
  }
  #curriculum-section {
      width: 80%;
      height: 350px;
    }
  .curriculum-description{
    font-size: 14px;
  }
  /* .curriculum-list > li {
    padding-bottom: 15%;
  } */
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */


@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
  #description-section {
    width: 10vw;
    height: 50vh;
  }
  /* .curriculum-list {
    font-size: 30px;
    line-height: 50px;
    font-weight: 400;
  } */
}